* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: purple;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 100px;
    color: white;
}

.main {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}